[submodule "contrib/aidl"]
	path = contrib/aidl
	url = https://android.googlesource.com/platform/system/tools/aidl
[submodule "contrib/core"]
	path = contrib/core
	url = https://android.googlesource.com/platform/system/core
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://android.googlesource.com/platform/external/googletest
